ul {
  padding:0;
  list-style:none;
  width: 30%;
  margin:auto;
}

li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

header{
    flex:1;
    justifyContent: 'center';
    alignItems: 'center';
    font-color:white;
  }

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  margin-left:10px;
  width: auto;
}
li {
    font-size: 1.2rem;
    line-height: 2rem;
    border-bottom: none;
 }